<div id="addnode-modal" class="modal wide">
  <div class='modal-overlay' ng-click='close("Cancel")'></div>
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <a class="button modal-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" href="#">&times;</a>

      <div class="modal-header">
        <h1 class="modal-title">Add Custom Node</h1>
      </div>

      <div class="modal-body">
        <form>
          <div class="row">
            <label>Type</label>
            <select id="type" ng-change="changeType()" ng-model="nodeType">
              <option ng-repeat="type in types" value="{{type}}" ng-selected="type == inputNodeType">{{type}}</option>
            </select>
          </div>

          <div class="row">
            <label>Name</label>
            <input id="name" type="text" placeholder="name" class="monospace" onchange="element(this).linkTree()">
          </div>

          <div class="row">
            <label>Title</label>
            <input id="title" type="text" placeholder="title">
          </div>

          <div class="row" id="addnode-properties">
            <label class="clearfix">
              <span class="left">Properties</span>
              <a href="#" id="addnode-addproperty" ng-click="addProperty()" class="button success right"
                 title="Add Property">+</a>
            </label>

            <!-- Using two separate tables because the properties list for a module is a read-only view of the tree's 
             parameters. We want this view not to show up if the type changes to something other than "module". -->
            <table id="addnode-properties-table-readonly-view" ng-show="nodeType == 'module'">
              <tbody>
                <tr ng-repeat="(name, contents) in properties">
                  <td>
                    <b3-property name="name" type="contents.type" key="contents.key" value="contents.value"
                                 editable="true" read-only="a">
                    </b3-property>
                  </td>
                </tr>
              </tbody>
            </table>
            <table id="addnode-properties-table" ng-hide="nodeType == 'module'">
              <tbody>
              </tbody>
            </table>
          </div>

          <div class="row" id="addnode-output" style="display: none;">
            <label class="clearfix">
              <span class="left">Output</span>
              <a href="#" ng-click="addOutput()" class="button success right" title="Add Output">+</a>
            </label>

            <table id="addnode-output-table">
              <tbody>
              </tbody>
            </table>
          </div>

          <div class="row" ng-show="projectLoaded">
            <label>Save Location</label>
            <select id="save-location-mode" ng-model="selectedDirMode">
              <option ng-repeat="(mode, text) in dirModeDisplayText" value="{{mode}}" ng-selected="mode == defaultDirMode">{{text}}</option>
            </select>
            <select id="save-location-preexisting" ng-show="selectedDirMode == 'existing'">
              <option ng-repeat="dir in directories" value="{{dir}}" ng-selected="dir == originDirectory">{{dir}}</option>
            </select>
            <b3-file-input type="folder" id="save-location-new" ng-show="selectedDirMode == 'new'"
                           class="abbreviated-dir" dialog-title="Select Save Location">
            </b3-file-input>
          </div>

          <div class="row" id="addnode-category" style="display: none;">
            <label>Category</label>
            <input id="category" type="text" placeholder="category" value="{{category}}" class="monospace">
          </div>

          <div class="row" id="addnode-script" style="display: none;">
            <label>Script</label>
            <input id="script" type="text" placeholder="script" class="monospace">
          </div>

          <div id="addnode-tree-location" style="display: none;">
            <label>Tree Location</label>
            <div ng-show="pathToTree">
              {{pathToTree}}
              <br>
              <a href="#" class="button open-tree" ng-click="addNode(); openTree()">Open Tree & Close</a>
            </div>
            <div ng-hide="pathToTree">
              No path found. Please select a tree location.
              <br>
              <b3-file-input id="tree-location" class="abbreviated-dir" dialog-title="Select Tree Location"
                             on-change="linkTree(path)" filters="Behavior/behavior;All files/*">
              </b3-file-input>
              <span class="balloon-error">{{errorMessage}}</span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#" ng-click="close('No')" class="button secondary" data-dismiss="modal">Cancel</a>
      <a href="#" ng-click="addNode()" class="button" data-dismiss="modal">Add</a>
    </div>
  </div>
</div>