<div id="addnode-modal" class="modal wide">
  <div class='modal-overlay' ng-click='close("Cancel")'></div>
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <a class="button modal-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" href="#">&times;</a>

      <div class="modal-header">
        <h1 class="modal-title">Add Custom Node</h1>
      </div>

      <div class="modal-body">
        <form>
          <div class="row">
            <label>Type</label>
            <select id="type" type="text" placeholder="title">
              <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
            </select>
          </div>

          <div class="row">
            <label>Name</label>
            <input id="name" type="text" placeholder="name" />
          </div>

          <div class="row">
            <label>Title</label>
            <input id="title" type="text" placeholder="title"/>
          </div>

          <div class="row" id="addnode-properties">
            <label class="clearfix">
              <span class="left">Properties</span>
              <a href="#" ng-click="addProperty()" class="button success right">+</a>
            </label>

            <table id="addnode-properties-table">
              <tbody>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      </div>

      <div class="modal-footer">
        <a href="#" ng-click="close('No')" class="button secondary" data-dismiss="modal">Cancel</a>
        <a href="#" ng-click="addNode(); close('Yes')" class="button" data-dismiss="modal">Add</a>
      </div>

    </div>
  </div>
</div>