<div id="editnode-modal" class="modal">
  <div class='modal-overlay' ng-click='close("Cancel")'></div>
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <a class="button modal-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" href="#">&times;</a>

      <div class="modal-header">
        <h1 class="modal-title">Edit Custom Node</h1>
      </div>

      <div class="modal-body">
        <form id="editnode-form">
          <div class="row">
            <label>Name</label>
            <input id="name" type="text" placeholder="name" value="{{node.prototype.name}}" class="monospace">
          </div>

          <div class="row">
            <label>Title</label>
            <input id="title" type="text" placeholder="title" value="{{node.prototype.title}}">
          </div>

          <div class="row" id="editnode-properties">
            <label class="clearfix">
              <span class="left">Properties</span>
              <a href="#" ng-click="addProperty()" class="button success right">+</a>
            </label>

            <table id="editnode-properties-table">
              <tbody>
                  <tr ng-repeat="(name, contents) in properties">
                    <td>
                      <b3-property name="name" type="contents.type" key="contents.key" value="contents.value"
                                   editable="true"></b3-property>
                    </td>
                    <td><a href="#" propertyremovable class="button alert right">-</a></td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div class="row" id="editnode-output" ng-show="node.prototype.type == 'action'">
            <label class="clearfix">
              <span class="left">Output</span>
              <a href="#" ng-click="addOutput()" class="button success right">+</a>
            </label>

            <table id="editnode-output-table">
              <tbody>
                  <tr ng-repeat="(name, contents) in output">
                    <td>
                      <b3-property name="name" type="contents.type" key="contents.key" value="contents.value"
                                   editable="true" is-output="true"></b3-property>
                    </td>
                    <td><a href="#" propertyremovable class="button alert right">-</a></td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div class="row" ng-show="projectLoaded">
            <label>Save Location</label>
            <select id="save-location-mode" ng-model="selectedDirMode">
              <option ng-repeat="(mode, text) in dirModeDisplayText" value="{{mode}}" ng-selected="mode == defaultDirMode">{{text}}</option>
            </select>
            <select id="save-location-preexisting" ng-show="selectedDirMode == 'existing'">
              <option ng-repeat="dir in directories" value="{{dir}}" ng-selected="dir == node.prototype.originDirectory">{{dir}}</option>
            </select>
            <b3-file-input type="folder" id="save-location-new" ng-show="selectedDirMode == 'new'" class="abbreviated-dir"></b3-file-input>
          </div>

          <div class="row" ng-show="node.prototype.type == 'action'">
            <label>Category</label>
            <input id="category" type="text" value="{{node.prototype.category}}" placeholder="category" class="monospace">
          </div>

          <div class="row" ng-show="node.prototype.type == 'action'">
            <label>Script</label>
            <input id="script" type="text" value="{{node.prototype.script}}" placeholder="script" class="monospace">
          </div>
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <span class="left">
        <a href="#" class="button alert" ng-click="removeNode(); close('Yes')">Remove</a>
      </span>

      <a href="#" ng-click="close('No')" class="button secondary" data-dismiss="modal">Cancel</a>
      <a href="#" ng-click="saveNode(); close('Yes')" class="button" data-dismiss="modal">Save</a>
    </div>
  </div>
</div>
