<div id="exportnodes-modal" class="modal wide">
  <div class='modal-overlay' ng-click='close("Cancel")'></div>
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <a class="button modal-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" href="#">&times;</a>

      <div class="modal-header">
        <h1 class="modal-title">Export Nodes</h1>
      </div>

      <div class="modal-body">
        <ul>
          <li ng-repeat="(dir, categories) in exportHierarchy" class="export-selector-entry">
            <a href="#" ng-click="toggleExportDir(dir)" ng-class="getDisplayStyleDir(dir)">
              {{getDisplaySymbolDir(dir)}}
            </a>
            <span class="save-marker" ng-hide="dirIsSaved(dir)">*</span>
            {{dir}}
            <ul>
              <li ng-repeat="(category, included) in categories" class="export-selector-entry">
                <a href="#" ng-click="toggleExport(dir, category)" ng-class="getDisplayStyle(dir, category)">
                  {{getDisplaySymbol(dir, category)}}
                </a>
                <span class="save-marker" ng-hide="groupIsSaved(dir, category)">*</span>
                {{category === "" ? "[other]" : category}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#" ng-click="close('No')" class="button secondary" data-dismiss="modal">Cancel</a>
      <a href="#" ng-click="exportNodes(); close('Yes')" class="button" data-dismiss="modal">Export</a>
    </div>
  </div>
</div>