<div id="editnode-modal" class="modal">
  <div class='modal-overlay' ng-click='close("Cancel")'></div>
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <a class="button modal-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" href="#">&times;</a>

      <div class="modal-header">
        <h1 class="modal-title">Edit Custom Node</h1>
      </div>

      <div class="modal-body">
        <form id="editnode-form">
          <div class="row">
            <label>Name</label>
            <input id="name" type="text" placeholder="name" value="{{node.prototype.name}}" />
          </div>

          <div class="row">
            <label>Title</label>
            <input id="title" type="text" placeholder="title" value="{{node.prototype.title}}" />
          </div>

          <div class="row" id="editnode-properties">
            <label class="clearfix">
              <span class="left">Properties</span>
              <a href="#" ng-click="addProperty()" class="button success right">+</a>
            </label>

            <table id="editnode-properties-table">
              <tbody>
                  <tr ng-repeat="(key, value) in properties">
                    <td>
                      <select id="type">
                        <option ng-repeat="valueType in valueTypes" ng-model="value.type" value="{{valueType.id}}" ng-selected="value.type == valueType.id">{{valueType.name}}</option>
                      </select>
                    </td>
                    <td><input id="key" type="text" value="{{key}}" placeholder="key" /></td>
                    <td><input id="value" type="text" value="{{value.value}}" placeholder="value" /></td>
                    <td><a href="#" propertyremovable class="button alert right">-</a></td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <label>Save Location</label>
            <input id="save-location" type="text" placeholder="save location" value="{{node.prototype.originDirectory}}"/>
          </div>

          <div class="row" id="editnode-output" ng-show="node.prototype.type == 'action'">
            <label class="clearfix">
              <span class="left">Output</span>
              <a href="#" ng-click="addOutput()" class="button success right">+</a>
            </label>

            <table id="editnode-output-table">
              <tbody>
                  <tr ng-repeat="(key, value) in output">
                    <td>
                      <select id="type">
                        <option ng-repeat="valueType in valueTypes" ng-model="value.type" value="{{valueType.id}}" ng-selected="value.type == valueType.id">{{valueType.name}}</option>
                      </select>
                    </td>
                    <td><input id="key" type="text" value="{{key}}" placeholder="key" /></td>
                    <td><input id="value" type="text" value="{{value.key}}" placeholder="value" /></td>
                    <td><a href="#" propertyremovable class="button alert right">-</a></td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div class="row" ng-show="node.prototype.type == 'action'">
            <label>Category</label>
            <input id="category" type="text" value="{{node.prototype.category}}" placeholder="category"/>
          </div>

          <div class="row" ng-show="node.prototype.type == 'action'">
            <label>Script</label>
            <input id="script" type="text" value="{{node.prototype.script}}" placeholder="script"/>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <span class="left">
          <a href="#" class="button alert" ng-click="removeNode(); close('Yes')">Remove</a>
        </span>

        <a href="#" ng-click="close('No')" class="button secondary" data-dismiss="modal">Cancel</a>
        <a href="#" ng-click="saveNode(); close('Yes')" class="button" data-dismiss="modal">Save</a>
      </div>

    </div>
  </div>
</div>
