<div class="node-panel search-bar">
  <label>
    Search: <input type="text" ng-model="searchInfo.searchText" ng-change="updateFilter()" b3-manual-blur>
  </label>
</div>
<div class="node-panel panel" scrollable>
  <div>
    <div ng-repeat="(dirName, nodesInDir) in (searchInfo.searchText ? filteredNodes : nodes)" class="item">
      <b3-collapsible-list class="type-list">
        <b3-collapsible-list-header>
          <span class="save-marker left" ng-hide="dirIsSaved(dirName)" title="Unsaved">*</span>
          <a class="directory-list-header" href="#"
          onmouseover="this.lastElementChild.style.display='inline-block';"
          onmouseout="this.lastElementChild.style.display='none';">
            <span ng-class="{'not-in-project': isNotInProject(dirName)}">
              {{dirName == '' ? '[No Save Location]' : dirName}}
            </span>

            <span style="display: none;" class="right">
              <!--Add to Project button-->
              <button 
                href="#"
                class="edit"
                title="Add to Auto-Import List"
                ng-show="dirHasButton(dirName, false) && isNotInProject(dirName)"
                ng-click="addToProject(dirName)">
                +
              </button>
              <!--Remove from Project button-->
              <button 
                href="#"
                class="edit"
                title="Remove from Auto-Import List"
                ng-show="dirHasButton(dirName, true) && !isNotInProject(dirName)"
                ng-click="removeFromProject(dirName)">
                -
              </button>
              <button class="new-node success right" ng-click="showAddNodeModal(dirName)" href="#" title="Add Custom Node">
                N
              </button>
            </span>
          </a>
        </b3-collapsible-list-header>
        <div>
          <b3-collapsible-list class="node-list" ng-if="nodesInDir.composite.length !== 0 || !searchInfo.searchText">
            <b3-collapsible-list-header>
              <button class="patch-mode left" ng-class="{active: getPatchMode(dirName, 'composite')}" href="#"
                      title="Export as .patch File ({{getPatchMode(dirName, 'composite') ? 'Enabled' : 'Disabled'}})"
                      ng-click="togglePatchMode(dirName, 'composite')">P</button>
              <span class="save-marker left" ng-hide="typeIsSaved(dirName, 'composite')" title="Unsaved">*</span>
              <a class="header" href="#"
              onmouseover="this.lastElementChild.style.display='inline-block';"
              onmouseout="this.lastElementChild.style.display='none';">
                Composite
                <button class="new-node success right" style="display: none;"
                ng-click="showAddNodeModal(dirName, 'composite')" href="#" title="Add Custom Node">
                  N
                </button>
              </a>
            </b3-collapsible-list-header>
            <div class="item" ng-repeat="node in nodesInDir.composite">
              <a id="node-{{node.prototype.name}}" 
                 href="#"
                 draggable-node
                 onmouseover="this.firstElementChild.style.display='inline-block';"
                 onmouseout="this.firstElementChild.style.display='none';"
                 title="{{getTitle(node)}}">
                <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);"
                ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">
                  Edit
                </button>
                <b3-highlightable str="getTitle(node)" class="abbreviated" search-text="searchInfo.searchText"></b3-highlightable>
              </a>
            </div>
            <div class="item" ng-show="nodesInDir.composite.length===0 && !searchInfo.searchText">
              <span class="empty">Empty</span>
            </div>
          </b3-collapsible-list>
        </div>
        <div>
          <b3-collapsible-list class="node-list" ng-if="nodesInDir.decorator.length !== 0 || !searchInfo.searchText">
            <b3-collapsible-list-header>
              <button class="patch-mode left" ng-class="{active: getPatchMode(dirName, 'decorator')}" href="#"
                      title="Export as .patch File ({{getPatchMode(dirName, 'decorator') ? 'Enabled' : 'Disabled'}})"
                      ng-click="togglePatchMode(dirName, 'decorator')">P</button>
              <span class="save-marker left" ng-hide="typeIsSaved(dirName, 'decorator')" title="Unsaved">*</span>
              <a class="header" href="#"
              onmouseover="this.lastElementChild.style.display='inline-block';"
              onmouseout="this.lastElementChild.style.display='none';">
                Decorator
                <button class="new-node success right" style="display: none;"
                ng-click="showAddNodeModal(dirName, 'decorator')" href="#" title="Add Custom Node">
                  N
                </button>
              </a>
            </b3-collapsible-list-header>
            <div class="item" ng-repeat="node in nodesInDir.decorator">
              <a id="node-{{node.prototype.name}}" 
                 href="#"
                 draggable-node
                 onmouseover="this.firstElementChild.style.display='inline-block';"
                 onmouseout="this.firstElementChild.style.display='none';"
                 title="{{getTitle(node)}}">
                <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);"
                ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">
                  Edit
                </button>
                <b3-highlightable str="getTitle(node)" class="abbreviated" search-text="searchInfo.searchText"></b3-highlightable>
              </a>
            </div>
            <div class="item" ng-show="nodesInDir.decorator.length===0 && !searchInfo.searchText">
              <span class="empty">Empty</span>
            </div>
          </b3-collapsible-list>
        </div>
        <div>
          <b3-collapsible-list class="node-list" ng-if="nodesInDir.action.length !== 0 || !searchInfo.searchText">
            <b3-collapsible-list-header>
              <span class="save-marker left" ng-hide="typeIsSaved(dirName, 'action')" title="Unsaved">*</span>
              <a class="header" href="#"
              onmouseover="this.lastElementChild.style.display='inline-block';"
              onmouseout="this.lastElementChild.style.display='none';">
                Action
                <button class="new-node success right" style="display: none;" 
                ng-click="showAddNodeModal(dirName, 'action')" href="#" title="Add Custom Node">
                  N
                </button>
              </a>
            </b3-collapsible-list-header>
            <div class="item" ng-repeat="(category,actions) in nodesInDir.actionCategories">
              <b3-collapsible-list>
                <b3-collapsible-list-header>
                  <button class="patch-mode left" ng-class="{active: getPatchMode(dirName, category || 'action')}"
                          href="#" title="Export as .patch File ({{getPatchMode(dirName, category || 'action') ? 
                          'Enabled' : 'Disabled'}})"
                          ng-click="togglePatchMode(dirName, category || 'action')">P</button>
                  <span class="save-marker left" ng-hide="categoryIsSaved(dirName, category, 'action')" title="Unsaved">
                    *
                  </span>
                  <a class="category" href="#"
                  onmouseover="this.lastElementChild.style.display='inline-block';"
                  onmouseout="this.lastElementChild.style.display='none';">
                    {{category || "[Uncategorized]"}}
                    <button class="new-node success right" style="display: none;"
                    ng-click="showAddNodeModal(dirName, 'action', category)" href="#" title="Add Custom Node">
                      N
                    </button>
                  </a>
                </b3-collapsible-list-header>
                <div class="item" ng-repeat="node in actions">
                  <a id="node-{{node.prototype.name}}" 
                     href="#"
                     draggable-node
                     onmouseover="this.firstElementChild.style.display='inline-block';"
                     onmouseout="this.firstElementChild.style.display='none';"
                     title="{{getTitle(node)}}">
                    <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);"
                    ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">
                      Edit
                    </button>
                    <b3-highlightable str="getTitle(node)" class="abbreviated" search-text="searchInfo.searchText"></b3-highlightable>
                  </a>
                </div>
              </b3-collapsible-list>
              <div class="item" ng-show="actions.length===0 && !searchInfo.searchText">
                <span class="empty">Empty</span>
              </div>
            </div>
            <div class="item" ng-show="nodesInDir.action.length===0 && actionCategoriesEmpty(nodesInDir) && !searchInfo.searchText">
              <span class="empty">Empty</span>
            </div>
          </b3-collapsible-list>
        </div>
        <div>
          <b3-collapsible-list class="node-list" ng-if="nodesInDir.module.length !== 0 || !searchInfo.searchText">
            <b3-collapsible-list-header>
              <button class="patch-mode left" ng-class="{active: getPatchMode(dirName, 'module')}" href="#"
                      title="Export as .patch File ({{getPatchMode(dirName, 'module') ? 'Enabled' : 'Disabled'}})"
                      ng-click="togglePatchMode(dirName, 'module')">P</button>
              <span class="save-marker left" ng-hide="typeIsSaved(dirName, 'module')" title="Unsaved">*</span>
              <a class="header" href="#"
              onmouseover="this.lastElementChild.style.display='inline-block';"
              onmouseout="this.lastElementChild.style.display='none';">
                Module
                <button class="new-node success right" style="display: none;"
                ng-click="showAddNodeModal(dirName, 'module')" href="#" title="Add Custom Node">
                  N
                </button>
              </a>
            </b3-collapsible-list-header>
            <div class="item" ng-repeat="node in nodesInDir.module">
              <a id="node-{{node.prototype.name}}" 
                 href="#"
                 draggable-node
                 onmouseover="this.firstElementChild.style.display='inline-block';"
                 onmouseout="this.firstElementChild.style.display='none';"
                 title="{{getTitle(node)}}">
                <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);"
                ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">
                  Edit
                </button>
                <b3-highlightable str="getTitle(node)" class="abbreviated" search-text="searchInfo.searchText"></b3-highlightable>
              </a>
            </div>
            <div class="item" ng-show="nodesInDir.module.length===0 && !searchInfo.searchText">
              <span class="empty">Empty</span>
            </div>
          </b3-collapsible-list>
        </div>
      </b3-collapsible-list>
    </div>
  </div>

  <a class="button success" ng-click="showAddNodeModal()" href="#">Add Custom Node</a>
</div>