<div class="node-panel panel" scrollable>
  <ul class="directory-list">
    <li ng-repeat="(dirName, nodesInDir) in nodes">
      <a class="header" ng-class="{'not-in-project': isNotInProject(dirName)}" href="#"
      onmouseover="this.lastElementChild.style.display='inline-block';"
      onmouseout="this.lastElementChild.style.display='none';">
        {{dirName == 'undefined' ? '[No Save Location]' : dirName}}

        <span style="display: none;" class="edit right">
          <!--Add to Project button-->
          <button 
             href="#"
             class="edit"
             title="Add to Project"
             ng-show="dirHasButton(dirName, false) && isNotInProject(dirName)"
             ng-click="addToProject(dirName)">
            +
          </button>
          <!--Remove from Project button-->
          <button 
             href="#"
             class="edit"
             title="Remove from Project"
             ng-show="dirHasButton(dirName, true) && !isNotInProject(dirName)"
             ng-click="removeFromProject(dirName)">
            -
          </button>
        </span>
        
      </a>
      <ul class="item-list">
        <li>
          <a class="header" href="#">Composite</a>
          <ul>
            <li ng-repeat="node in nodesInDir.composite">
              <a id="node-{{node.prototype.name}}" 
                 href="#"
                 draggable-node
                 onmouseover="this.lastElementChild.style.display='inline-block';"
                 onmouseout="this.lastElementChild.style.display='none';">
                {{getTitle(node);}}
                <button 
                   href="#"
                   class="edit right"
                   ng-show="canEditNode(node.prototype.name);"
                   ng-click="showEditNodeModal(node.prototype.name)"
                   style="display: none;">
                  Edit
                </button>
              </a>
            </li>
            <li ng-show="nodesInDir.composite.length===0">
              <span class="empty">Empty</span>
            </li>
          </ul>
        </li>
        <li>
          <a class="header" href="#">Decorator</a>
          <ul>
            <li ng-repeat="node in nodesInDir.decorator">
              <a id="node-{{node.prototype.name}}" 
                 href="#"
                 draggable-node
                 onmouseover="this.lastElementChild.style.display='inline-block';"
                 onmouseout="this.lastElementChild.style.display='none';">
                {{getTitle(node);}}
                <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);" ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">Edit</button>
              </a>
            </li>
            <li ng-show="nodesInDir.decorator.length===0">
              <span class="empty">Empty</span>
            </li>
          </ul>
        </li>
        <li>
          <a class="header" href="#">Action</a>
          <ul>
            <li ng-repeat="(category,actions) in nodesInDir.actionCategories">
              <a class="category" href="#">{{category}}</a>
              <ul>
                <li ng-repeat="node in actions track by $index">
                  <a id="node-{{node.prototype.name}}" 
                     href="#"
                     draggable-node
                     onmouseover="this.lastElementChild.style.display='inline-block';"
                     onmouseout="this.lastElementChild.style.display='none';">
                    {{getTitle(node);}}
                    <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);" ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">Edit</button>
                  </a>
                </li>
              </ul>
            </li>
            <li ng-show="nodesInDir.action.length===0">
              <span class="empty">Empty</span>
            </li>
          </ul>
        </li>
        <li>
          <a class="header" href="#">Module</a>
          <ul>
            <li ng-repeat="node in nodesInDir.module">
              <a id="node-{{node.prototype.name}}" 
                 href="#"
                 draggable-node
                 onmouseover="this.lastElementChild.style.display='inline-block';"
                 onmouseout="this.lastElementChild.style.display='none';">
                {{getTitle(node);}}
                <button href="#" class="edit right" ng-show="canEditNode(node.prototype.name);" ng-click="showEditNodeModal(node.prototype.name)" style="display: none;">Edit</button>
              </a>
            </li>
            <li ng-show="nodesInDir.module.length===0">
              <span class="empty">Empty</span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <a class="button success" ng-click="showAddNodeModal()" href="#">Add Custom Nodes</a>
</div>
