<div class="tree-tabs-bar">
  <div class="tree-tabs-container">
    <div class="tree-tabs" id="tree-tabs">
      <div ng-repeat="tree in trees" id="tree-{{tree.id}}" 
          class="tab"
          href="#"
          ng-click="selectTree(tree.id);"
          ng-class="{selected:tree.id===currentTree}"
          b3-draggable-tree-tab>
        <div ng-hide="tree.isSaved" class="save-marker left">*</div>
        {{tree.name}}
        <!--$event.stopPropagation() stops the ng-click event in the parent from firing.-->
        <button href="#" title="Close Tab" class="close right" ng-disabled="!canRemoveTree();" ng-click="removeTree(tree.id); $event.stopPropagation()">&times;</button>
      </div>
    </div>
  </div>
  <button class="success new-tree" ng-click="addTree()" href="#" title="New Tree">+</button>
</div>

