<div class="tree-panel panel" scrollable>
  <ul class="item-list">
    <li ng-repeat="tree in trees">
      <a id="tree-{{tree.id}}" 
         href="#"
         ng-click="selectTree(tree.id);"
         ng-class="{selected:tree.id===currentTree}"
         onmouseover="this.lastElementChild.style.display='inline-block';"
         onmouseout="this.lastElementChild.style.display='none';">
        <div ng-hide="tree.isSaved" class="save-marker left">*</div>
        {{tree.name}}
        <button href="#" title="Remove Tree From Editor" class="edit right" ng-show="canRemoveTree();" ng-click="removeTree(tree.id)" style="display: none;">&times;</button>
      </a>
    </li>
  </ul>

  <a class="button success" ng-click="addTree()" href="#">New Tree</a>
</div>

