<nav class="topbar">
  <section class="left">
    <ul>
      <li><a href="#">File</a>
        <ul>
          <li><a ng-click ="onButtonNewProject()" href="#">New Project<span class="shortcut">{{key_new_project}}</span></a></li>
          <li><a ng-click ="onButtonOpenProject()" href="#">Open Project<span class="shortcut">{{key_open_project}}</span></a></li>
          <li><a ng-click ="onButtonNewTree()" href="#">New Tree<span class="shortcut">{{key_new_tree}}</span></a></li>
          <li><a ng-click ="onButtonOpenTree()" href="#">Open...<span class="shortcut">{{key_open_tree}}</span></a></li>
          <li><a ng-click ="onButtonSaveTree()" href="#">Save<span class="shortcut">{{key_save_tree}}</span></a></li>
          <li><a ng-click ="onButtonSaveAs()" href="#">Save As...<span class="shortcut">{{key_save_as}}</span></a></li>
          <li class="divider"></li>
          <li><a ng-click ="onButtonImportNodes()" href="#">Import Nodes<span class="shortcut">{{key_import_nodes}}</span></a></li>
          <li><a ng-click ="onButtonExportNodes()" href="#">Export Nodes<span class="shortcut">{{key_export_nodes}}</span></a></li>
          <li class="divider"></li>
          <li><a ng-click="onButtonNewNode()" href="#">New Node<span class="shortcut">{{key_new_node}}</span></a></li>
        </ul>
      </li>
      <li><a href="#">Edit</a>
        <ul>
          <li><a ng-click="onButtonUndo()" href="#">Undo<span class="shortcut">{{key_undo}}</span></a></li>
          <li><a ng-click="onButtonRedo()" href="#">Redo<span class="shortcut">{{key_redo}}</span></a></li>
          <li class="divider"></li>
          <li><a ng-click="onButtonCopy()" href="#">Copy<span class="shortcut">{{key_copy}}</span></a></li>
          <li><a ng-click="onButtonCut()" href="#">Cut<span class="shortcut">{{key_cut}}</span></a></li>
          <li><a ng-click="onButtonPaste()" href="#">Paste<span class="shortcut">{{key_paste}}</span></a></li>
          <li><a ng-click="onButtonDuplicate()" href="#">Duplicate<span class="shortcut">{{key_duplicate}}</span></a></li>
          <li><a ng-click="onButtonRemove()" href="#">Remove<span class="shortcut">{{key_remove}}</span></a></li>
          <li class="divider"></li>
          <li><a ng-click="onButtonRemoveAllConnections()" href="#">Remove All Connections</a></li>
          <li><a ng-click="onButtonRemoveInConnections()" href="#">Remove All In-Connections</a></li>
          <li><a ng-click="onButtonRemoveOutConnections()" href="#">Remove All Out-Connections</a></li>
        </ul>
      </li>
      <li><a href="#">View</a>
        <ul>
          <li><a ng-click="onButtonAutoOrganize()" href="#">Auto Organize<span class="shortcut">{{key_organize}}</span></a></li>
          <li class="divider"></li>
          <li><a ng-click="onButtonZoomIn()" href="#">Zoom In<span class="shortcut">{{key_zoom_in}}</span></a></li>
          <li><a ng-click="onButtonZoomOut()" href="#">Zoom Out<span class="shortcut">{{key_zoom_out}}</span></a></li>
          <li class="divider"></li>
          <li><a ng-click="onButtonCollapseAll()" href="#">Collapse All</a></li>
          <li><a ng-click="onButtonExpandAll()" href="#">Expand All</a></li>
        </ul>
      </li>
      <li><a href="#">Selection</a>
        <ul>
          <li><a ng-click="onButtonSelectAll()" href="#">Select All<span class="shortcut">{{key_select_all}}</span></a></li>
          <li><a ng-click="onButtonDeselectAll()" href="#">Deselect All<span class="shortcut">{{key_deselect_all}}</span></a></li>
          <li><a ng-click="onButtonInvertSelection()" href="#">Invert Selection<span class="shortcut">{{key_invert_selection}}</span></a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
