html, body {
  padding     : 0px;
  margin      : 0px;
  overflow    : hidden;
  font-size   : 12px;
  font-weight : 100 !important;
  color       : #333333;
  background  : #ffffff;
}
.left {
  float: left;
}
.right {
  float: right;
}
.panel {
  overflow-y: auto;
  padding: 5px;
}
.wide {
  width: 100%;
}
.grabbing {
  cursor: url(../img/closedhand.cur) 8 8, move;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
button, .button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding: 2px 5px;
  background-color: #008CBA;
  border-color: #007095;
  color: #ffffff;
  padding-top: 0.375rem;
  padding-right: 1.75rem;
  padding-bottom: 0.4375rem;
  padding-left: 1.75rem;
  transition: background-color 300ms ease-out; 
}
button:hover, .button:hover {
  background-color: #007095;
  color: #ffffff;
}
button.secondary, .button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
}
button.secondary:hover, .button.secondary:hover {
  background-color: #b9b9b9;
  color: #333333;
}
button.success, .button.success {
  background-color: #43AC6A;
  border-color: #368a55;
  color: #ffffff;
}
button.success:hover, .button.success:hover {
  background-color: #368a55;
}
button.success:hover, .button.success:hover {
  color: #ffffff;
}
button.alert, .button.alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #ffffff;
}
button.alert:hover, .button.alert:hover {
  background-color: #cf2a0e;
}
button.alert:hover, .button.alert:hover {
  color: #ffffff;
}

.canvas-overlay {
  /* A dark translucent div that covers just the game canvas (and should not block the canvas). */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000000;
  opacity: 0.2;  /* Active by default. */
  pointer-events: none;
}

.focused .canvas-overlay {
  /* Deactivate overlay. */
  opacity: 0.0;
}

.highlight {
  background-color: #fff568;
}

.save-marker {
  color: #f04124;
}

/* ================================*/
/* FORM                            */
/* ================================*/
form {
  text-align: left;
}
form .row {
  margin: 0.5em 0px 1em 0px;
}
form .row label {
  text-align: left;
  display: block;
  padding-bottom: 2px;
}
form .row input, form .row textarea, form .row select { 
  display: block;
  width: 95%;
  color: #111;
  padding: 3px;
}

.inner-topbar {
  top: 25px;
  position: absolute;
  text-align: left;
  margin: 0px;
  border-bottom: 1px solid #aaaaaa;
  left: 250px;  /* Required b/c the sidebar on the left will otherwise hide some of the text. */
  width: calc(100% - 500px);
  background-color: #ffffff;
}

/* ================================*/
/* TREE TABS                       */
/* ================================*/
.tree-tabs-bar {
  width: 100%;
  background-color: #dadada;
  border-bottom: #aaaaaa solid 1px;
  display: inline-block;
}
.tree-tabs-container {
  display: inline-block;
  max-width: calc(100% - 45px);
}
.tree-tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  border-right: #aaaaaa solid 1px;
}

.tree-tabs .tab {
  font-size: 14px;
  background-color: #dddddd;
  border-right: #777777 solid 1px;
  border-bottom: #777777 solid 1px;
  padding: 5px 10px;
  padding-top: 11px;
  flex: 0 0 auto;
  cursor: pointer;
}

.tree-tabs .tab.selected {
  background-color: #ffffff;
  border-bottom: #008CBA solid 4px;
}

.tree-tabs .tab .close {
  position: relative;
  bottom: 2px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  color: #333333;
  background-color: inherit;
  transition: none;
}

.tree-tabs .tab .close:hover {
  background-color: #fcfcfc;
}

.tree-tabs .tab.selected .close:enabled:hover {
  background-color: #e6e6e6;
}

.tree-tabs .tab .close:disabled {
  color: #999999;
}

.tree-tabs .new-tree, .tree-tabs-bar .new-tree {
  padding: 5px 10px;
  margin: 5px 5px;
  flex: 0 0 auto;
}
.tree-tabs .tab .save-marker {
  padding-right: 3px;
}
.tree-tabs .tab-insert-slot {
  border-right: #e7c800 solid 3px;
}
/* ================================*/

/* ================================*/
/* FILENAME DISPLAY                */
/* ================================*/
.filename-display {
  padding: 5px;
  font-size: 25px;
  height: 25px;
  background-color: #ffffff;
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 10px);
}

.filename-display .save-status-display {
  color: #f04124;
  float: left;
  padding-right: 6px;
}

.filename-display .treename-display {
  float: left;
  padding-right: 12px;
}

.filename-display .path-display {
  padding: 0px 4px;
  float: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaaaaa;
  direction: rtl;
}
/* ================================*/

/* ================================*/
/* COLLAPSIBLE LIST                */
/* ================================*/
button.collapsible-list {
  padding: 0px;
  margin: 0px 5px 0px 0px;
  width: 20px;
  height: 20px;
  font-size: 1.5em;
  color: #333333;
  background-color: #ffffff;
  float: left;
}

div.collapsible-list {
  margin: 5px 0px;
}
div.collapsible-list-items {
  padding-left: 5px;
  border-left: #868686 solid 1px;
  overflow-y: hidden;
  overflow-x: visible;
  transition: max-height ease-out 0.5s;
}

div.collapsible-list-items.hidden {
  max-height: 0px !important;
}
/* ================================*/

/* ================================*/
/* TOPBAR                          */
/* ================================*/
.topbar {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  background-color: #dddddd;
  border-bottom: 1px solid #aaaaaa;
  z-index: 100;
}

.topbar ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
}
.topbar ul:after {
  content: "";
  clear: both;
  display: block;
}

.topbar ul li {
  float: left;
  border-right: 1px solid #aaaaaa;
}
.topbar ul li:hover {
  background-color: #aaaaaa;
}
.topbar ul li a {
  color: #333333;
  display: block;
  height: 25px;
  padding: 0px 10px;
  line-height: 25px;
  text-decoration: none;
}
.topbar ul li a .shortcut {
  color: #666666;
  float: right;
  font-style: italic;
}

.topbar ul li:hover > ul {
  display: block;
}
.topbar ul ul {
  display: none;
  background: #ffffff;
  position: absolute;
  top: 100%;
  min-width: 200px;
  border: 1px solid #333333;
}
.topbar ul ul li {
  float: none;
  position: relative;
}
.topbar ul ul li a {
  height: 25px;
  padding: 0px 10px;
  line-height: 25px;
  color: #333333;
  text-align: left;
}
.topbar ul ul ul {
  position: absolute;
  top: 0;
}
.topbar .left ul ul ul { left: 100%; }
.topbar .divider { border-top: 1px solid #555; }
/* ================================*/





/* ================================*/
/*  SIDEBAR                        */
/* ================================*/
.sidebar {
  overflow: hidden;
  position: absolute;
  z-index: 50;
  top: 0px;
  background-color: #ececec;
  border: 1px solid #aaaaaa;
  width: 250px;
  height: 100%;
  padding-top: 40px;
}
.sidebar.left { left: 0px; }
.sidebar.right { right: 0px; }
.focused .sidebar {
  background-color: #ffffff;
}
/* ================================*/




/* ================================*/
/*  MODAL                          */
/* ================================*/
.modal {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000000;
  opacity: 0.8;
}
.modal-dialog {
  position: absolute;
  z-index: 10000;
  width: 50%; /* Default */
  /*max-width: 400px;*/

  /* Center the dialog */
  top: 25%;
  left: 25%;

  border: 1px solid #454545;
}
.modal-dialog .wide {
  width: 50%;
}
.modal-dialog-content {
  height: 50vh;
  padding: 10px;
  background-color: #ffffff;
  text-align: left;
}
.modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.modal-header h1 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 100%;

  color: #000000;
  text-align: center;
  font-weight: 400;
}
.modal-body {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #181818;
  padding: 15px;
  height: calc(100% - 65px);
  overflow: auto;
}
.modal-footer {
  background-color: #ffffff;
  border: 1px solid #181818;
  padding: 15px;
  margin-top: 10px;
  text-align: right;
}
.modal .button, .modal button {
  margin: 0px;
  margin-left: 5px;
}
.modal .row .button {
  padding: 1px 20px;
  font-size: inherit; 
  margin: 0px;
  width: 20px;
}
.modal label .button {
  margin-right: 1px !important;
}
.modal table {
  width: 100%;
}
.modal table input, 
.modal table select  {
  width: 90%;
  padding: 3px 2px !important;
}
.modal table .button {
  width: 20px;
  /*height: 23px;*/
}
.modal table td {
  padding: 1px;
}
.modal table td:nth-child(1) {
  width: auto;
}
.modal table td:nth-child(2) {
  width: auto;
}
.modal table td:nth-child(3) {
  width: auto;
}
.modal table td:nth-child(4) {
  vertical-align: middle;
  width: 20px;
  padding-left: 2px;
}

.abbreviated-dir {
  display: flex;
}

.abbreviated-dir span {
  position: relative;
  left: 3px;
  top: 5px;
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-overflow: ellipsis;
}

#save-location-mode {
  width: 50%;
  display: inline-block;
}
#save-location-new {
  width: 50%;
  float: right;
}
#save-location-preexisting {
  width: 50%;
  float: right;
}


/* ================================*/
/* NOTIFICATION                    */
/* ================================*/
#notification-display {
  position: absolute;
  z-index: 9999;
/*   left: 50%; */
  bottom: 30px;
  font-weight: bold;
  width: 100%;
  /* Required to center the notifications. */
  margin: 0px;
  padding: 0px;

  pointer-events: none;
}

.notification {
  list-style: none;
  text-align: center;
  width: 40%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  margin: 10px auto;

  opacity: 0.0;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;

  pointer-events: all;
}
.notification.warn {
  color: #a9a242;
  background-color: #f2efde;
  border-color: #ebe0cc;
}
.notification.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.notification.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.notification.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}







/* ================================*/
/*  TABS                           */
/* ================================*/
.tabset {
  text-align: center;
}
.tabset ul.header {
  padding: 20px 0px 10px 0px;
  margin: 0px;
  list-style: none;
  font-size: 130%;
  text-transform: uppercase;
  font-weight: 200!important;
}
.tabset ul.header li {
  display: inline-block;
}
.tabset ul.header li a {
  color: inherit;
  text-decoration: none;
  padding: 0px 10px;
}
.tabset ul.header li a.active {
  color: #4BB2FD;
}
/* ================================*/




/* ================================*/
/* DIRECTORY LIST HEADER           */
/* ================================*/
.directory-list-header {
  font-weight: 600;
  color: #333333;
  font-size: 1.5em;
  word-wrap: break-word;
  border-color: #333333;
  border-style: none none solid;
}
.directory-list-header:hover {
  background-color: inherit;
}
.directory-list-header .edit {
  padding: 0px 10px;
  margin: 0px 2px;
  font-weight: 100;
  background-color: #ffffff;
  color: #333333;
}
.directory-list-header .new-node {
  padding: 0px 10px;
  margin: 0px 2px;
  font-weight: 100;
}
.directory-list-header span.edit {
  padding: 0px;
  margin: 0px;
}
.directory-list-header .not-in-project {
  font-weight: 100;
  font-style: italic;
  color: #acacac;
}
.directory-list-header .save-marker {
  font-size: 1.5em;
  padding-right: 3px;
}
/* ================================*/

/* ================================*/
/* NODE LIST                       */
/* ================================*/
.node-list {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
}
.node-list .item {
  padding: 2px;
  margin: 2px;
  border: 1px solid #333333;
}
.node-list .item .abbreviated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.node-list a {
  padding: 2px 0px 2px 10px;
  color: #333333;
  text-decoration: none;
  display: block;
}
.node-list a.selected {
  font-weight: 600;  
  /*background-color: #606060;*/
  /*pointer-events: none;*/
  /*cursor: default;*/
}
.node-list .empty {
  padding: 2px 0px 2px 10px;
  color: #ACACAC;
  display: block;
}
.node-list a:hover {
  background-color: #ffffff;
}
.node-list a.header {
  text-transform: uppercase;
  padding: 3px 0px;
  margin-bottom: 1px;  /* Keeps the stuff below from being shoved out of the way by floating buttons. */
  font-weight: 600!important;
  color: #333333;
  font-size: 1.2em;
  border-style: none;
}
.node-list a.header:hover {
  background-color: inherit;
}
.node-list a.category {
  font-weight: 600;
  color: #333333;
  font-size: 1.1em;
  margin-bottom: 2px;  /* Keeps the stuff below from being shoved out of the way by floating buttons. */
}
.node-list .edit {
  padding: 0px 5px;
  margin: 0px 1px;
  background-color: #ffffff;
  color: #333333;
}
.node-list .new-node {
  position: relative;
  bottom: 2px;
  padding: 2px 5px;
  margin: 0px 1px;
}
.node-list .save-marker {
  padding-right: 3px;
}
.node-list .collapsible-list-items {
  padding-left: 0px;
  border-style: none;
}
/* ================================*/

/* ================================*/
/* TYPE LIST                       */
/* ================================*/
.type-list {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
}
.type-list li {
  padding: 0px;
  margin: 0px;
}
.type-list li ul li {
  padding: 2px;
  margin: 2px;
  border: 1px solid #333333;
}
.type-list a {
  padding: 2px 0px 2px 10px;
  color: #333333;
  text-decoration: none;
  display: block;
}
.type-list a.selected {
  font-weight: 600;  
  /*background-color: #606060;*/
  /*pointer-events: none;*/
  /*cursor: default;*/
}
.type-list .empty {
  padding: 2px 0px 2px 10px;
  color: #ACACAC;
  display: block;
}
.type-list a:hover {
  background-color: #ffffff;
}
.type-list a.header {
  text-transform: uppercase;
  padding: 3px 0px;
  font-weight: 600;
  color: #333333;
  font-size: 1.2em;
  border-style: none;
}
.type-list a.header:hover {
  background-color: inherit;
}
.type-list a.category {
  font-weight: 600;
  color: #333333;
  font-size: 1.1em;
}
.type-list .edit {
  padding: 0px 5px;
  margin: 0px 1px;
  background-color: #ffffff;
  color: #333333;
}
.type-list .new-node {
  position: relative;
  bottom: 1px;
  padding: 2px 5px;
  margin: 0px 1px;
}
.type-list .save-marker {
  padding-right: 3px;
}
/* ================================*/

/* ================================*/
/*  NODEPANEL                      */
/* ================================*/
.node-panel {
  text-align: center;
}
.preview {
  position: absolute;
  z-index: 500;
}
.node-panel.search-bar {
  margin: 5px;
}
.node-panel.search-bar label {
  font-size: 1.2em;
}
.node-panel.search-bar input {
  padding: 3px;
}
/* ================================*/

/* ================================*/
/*  EXPORTSELECTOR                 */
/* ================================*/
.export-selector-entry {
  margin: 0.5em 0px 1em 0px;
  list-style: none;
}
.export-selector.button {
  border-width: 1px;
  transition: none;
  padding: 0px 0px;
  width: 20px;
  height: 20px;
}
.export-selector.button.all {
  background-color: #43AC6A;
  /* border-style: none; */
  color: #ffffff;
}

.export-selector.button.some {
  background-color: #008CBA;
  /* border-style: none; */
  color: #ffffff;
}

.export-selector.button.none {
  background-color: #ffffff;
  border-color: gray;
  color: #ffffff;
}
/* ================================*/



/* ================================*/
/*  PROPERTYPANEL                  */
/* ================================*/
.property-panel .row .button {
  padding: 1px 20px;
  font-size: inherit; 
  margin: 0px;
  width: 20px;
}
.property-panel label .button {
  margin-right: 1px !important;
}
.property-panel table {
  width: 100%;
}
.property-panel table input {
  width: 85%;
  padding: 3px 5px !important;
}
.property-panel table .button {
  width: 20px;
  /*height: 23px;*/
}
.property-panel table td {
  padding: 1px;
}
.property-panel table td:nth-child(1) {
  width: 40%;
}
.property-panel table td:nth-child(2) {
  width: 40%;
}
.property-panel table td:nth-child(3) {
  vertical-align: middle;
  width: 20px;
  padding-left: 2px;
}
/* ================================*/



/* ================================*/
/*  PROPERTY DISPLAY               */
/* ================================*/
table.property {
  /* margin: 15px 0px; */
  margin: 0px;
  border: #333333 solid 1px;
}
table.property .inline {
  display: inline-block;
}
/* table.property label {
  display: inline-block;
} */
table.property tr {
  vertical-align: top;
}
table.property td {
  padding: 3px;
}
table.property td:nth-child(1) {
  width: 20px;
}
table.property td:nth-child(2) {
  width: auto;
}
table.property .property-type {
  color: #9d9d9d;
}
table.property input {
  width: auto;
  max-width: 150px;
}
table.property input[type=checkbox] {
  display: inline-block;
  margin-left: 5px;
}
/* table.property input.coords {
  width: 81%;
  display: inline-block;
} */
table.property .balloon-container {
  width: 20px;
  height: 20px;
  float: right;
}
table.property #value .button {
  padding: 0px;
}
table.property .data-aggregate input {
  width: calc(100% - 10px);
}
table.property .data-aggregate tr {
  display: flex;
}
table.property .data-aggregate td:last-child {
  flex-grow: 1;
}
table.property .data-json td:nth-child(1) {
  width: 30%;
}
table.property .null {
  color: #9d9d9d;
}
table.property .json-container {
  display: flex;
  flex-wrap: wrap;
}
table.property .json-type-container {
  flex-grow: 0;
}
table.property .json-value-container {
  flex-grow: 1;
}
table.property select {
  width: auto;
  display: inline-block;
}
/* table.property #prop-name-editable {
  display: inline-block;
  width: 100%;
} */
/* table.property #prop-name-editable input {
  display: inline-block;
} */
table.property #value-json input {
  width: 80%;
}
/* ================================*/