<div id="property-panel" class="property-panel panel" scrollable>

  <div ng-show="screen === SCRN_UNSELECTED">
    <p style="text-align:center">Select a <strong>single</strong> block to change its properties.</p>
  </div>

  <div ng-show="screen === SCRN_UNREGISTERED">
    <p style="text-align:center">This node has no corresponding definition in the editor.</p>
    <p style="text-align:center">To define it, import it using the 'Import Nodes' button under 'File' or add a node definition for it.</p>
    <p style="text-align:center">Modules can be defined by opening them in the editor.</p>
  </div>

  <div ng-show="screen === SCRN_INVALID">
    <p style="text-align:center">This node's type conflicts with the type given in the corresponding definition.</p>
    <p style="text-align:center">You should either remove this node and make a new one or correct the type of the node definition.</p>
  </div>

  <div ng-hide="screen === SCRN_SELECTED">
    <p style="text-align:center"><em>NOTE: The root node represents a tree. Therefore, changes applied to this node will persist on the tree object.</em></p>
  </div>

  <div ng-show="screen === SCRN_SELECTED">
    <form>
      <div class="row">
        <label>Name</label>
        <input id="name" type="text" placeholder="name" class="monospace" readonly>
      </div>

      <div class="row">
        <label>Title</label>
        <b3-text-input id="root-title" onblur="element(this).editProperties(this);" on-change="markForChange()"
                       placeholder="title" value="title" ng-if="block.type == 'root'" formatter="inspectTitle(input)">
        </b3-text-input>
        <input id="title" type="text" onchange="element(this).editProperties(this)"
               onkeyup="element(this).markForChange(this)" placeholder="title" ng-value="title"
               ng-if="block.type != 'root'">
      </div>

      <div class="row">
        <label class="clearfix">
          <span class="left">Properties</span>
          <a href="#" ng-click="addRootProperty()" ng-show="block.type == 'root'" class="button success right">+</a>
        </label>

        <table id="property-properties-table" ng-if="block.type == 'root'">
          <tbody>
            <tr ng-repeat="prop in properties">
              <td>
                <b3-text-input id="key" onblur="element(this).editProperties(this);" on-change="markForChange()"
                               placeholder="key" expandable="a" value="prop.name">
                </b3-text-input>
              </td>
              <td>
                <b3-text-input id="value" onblur="element(this).editProperties(this);" on-change="markForChange()"
                               placeholder="value" expandable="a" formatter="parseJson(input)" value="prop.value">
                </b3-text-input>
              </td>
              <td><a href="#" propertyremovable class="button alert right">-</a></td>
            </tr>
          </tbody>
        </table>

        <b3-property id="property-panel-property" ng-if="block.type != 'root'" ng-repeat="prop in properties"
                     name="prop.name" type="prop.type" key="prop.key" value="prop.value" b3-on-change="editProperties()"
                     b3-on-input="markForChange()">
        </b3-property>
      </div>

      <div class="row">
        <label class="clearfix">
          <span class="left">Output</span>
        </label>

        <b3-property id="property-panel-output" ng-repeat="output in outputs" name="output.name" type="output.type"
                     key="output.key" is-output="a" b3-on-change="editProperties()"
                     b3-on-input="markForChange()">
        </b3-property>
      </div>
    </form>
  </div>
</div>
