<table class="property">
  <tbody>
    <tr>
      <td>Key</td>
      <td>
        <label id="prop-name">
          {{propName}}<span class="property-type">: {{type}}</span>
        </label>
      </td>
      <td class="balloon-container">
      </td>
    </tr>
    <tr>
      <td><input id="uses-key" type="checkbox" ng-model="usesKeyInput" onchange="element(this).onChange(this); element(this).onInput(this)"></td>
      <td colspan="2">
        <input id="key" type="text" placeholder="key" ng-show="usesKeyInput" b3-property-change-listener>
        <span ng-hide="usesKeyInput" id="value">
          <input id="value-string" type="text" placeholder="value" ng-show="type == 'string'" b3-property-change-listener>
          <div ng-show="type == 'position'">
            <label for="value-position-x" class="sub">X:</label>
            <input id="value-position-x" type="text" placeholder="jsonValue" class="coords" b3-property-change-listener>
            <label for="value-position-y" class="sub">Y:</label>
            <input id="value-position-y" type="text" placeholder="jsonValue" class="coords" b3-property-change-listener>
          </div>
          <div ng-show="type == 'vec2'">
            <label for="value-vec2-x" class="sub">X:</label>
            <input id="value-vec2-x" type="text" placeholder="jsonValue" class="coords" b3-property-change-listener>
            <label for="value-vec2-y" class="sub">Y:</label>
            <input id="value-vec2-y" type="text" placeholder="jsonValue" class="coords" b3-property-change-listener>
          </div>
          <div ng-show="type == 'list'">
            <a href="#" ng-click="addListItem('value-list'); onInput()" class="button success right">+</a>

            <table id="value-list" class="data-aggregate">
              <tbody>
                <!-- Items are dynamically inserted here -->
              </tbody>
            </table>
          </div>
          <div ng-show="type == 'json'">
            <a href="#" ng-click="addJSONPair('value-json'); onInput()" class="button success right">+</a>

            <table id="value-json" class="data-aggregate data-json">
              <tbody>
                <!-- Items are dynamically inserted here -->
              </tbody>
            </table>
          </div>
          <div ng-show="type == 'table'">
            <label for="is-numbered">Numbered: </label>
            <input id="is-numbered" type="checkbox" ng-model="tableIsNumbered" onchange="element(this).onInput(this); element(this).onChange(this)">

            <div ng-show="tableIsNumbered">
              <a href="#" ng-click="addListItem('value-table-list'); onInput()" class="button success right">+</a>

              <table id="value-table-list" class="data-aggregate">
                <tbody>
                  <!-- Items are dynamically inserted here -->
                </tbody>
              </table>
            </div>
            <div ng-hide="tableIsNumbered">
              <a href="#" ng-click="addJSONPair('value-table-json'); onInput()" class="button success right">+</a>

              <table id="value-table-json" class="data-aggregate data-json">
                <tbody>
                  <!-- Items are dynamically inserted here -->
                </tbody>
              </table>
            </div>
          </div>
          <input id="value-entity" type="text" placeholder="value" ng-show="type == 'entity'" b3-property-change-listener>
          <input id="value-bool" type="checkbox" ng-show="type == 'bool'" onchange="element(this).onInput(this); element(this).onChange(this)">
          <input id="value-number" type="text" placeholder="value" ng-show="type == 'number'" b3-property-change-listener>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<!-- <button ng-click="showContents()">Show Contents</button> -->