<table class="property">
  <tbody>
    <tr>
      <td ng-hide="isOutput">Key</td>
      <td>
        <div id="prop-name-editable" ng-show="editable">
          <div class="inline">
            <label for="type" class="inline">Type</label>
            <select id="type" ng-model="type">
              <option ng-repeat="valueType in ['json', 'bool', 'vec2', 'position', 'entity', 'number', 'table', 'list', 'string']"
              value="{{valueType}}" ng-selected="valueType == type">{{valueType}}</option>
            </select>
          </div>
          <div class="inline">
            <label for="prop-name" class="inline">Property Name</label>
            <input id="prop-name" class="inline monospace" type="text" value="" placeholder="name" ng-model="name">
          </div>
        </div>
        <label id="prop-name-display" ng-hide="editable" class="monospace">
          {{name}}<span class="property-type">: {{type}}</span>
        </label>
      </td>
    </tr>
    <tr>
      <td ng-hide="isOutput">
        <input id="uses-key" type="checkbox" ng-model="usesKey" 
               onchange="element(this).onChange(this); element(this).onInput(this)">
      </td>
      <td>
        <input id="key" type="text" placeholder="key" ng-show="usesKey" b3-property-change-listener class="monospace">
        <span ng-hide="usesKey" id="value">
          <div ng-show="type == 'string'">
            <label for="string-is-defined" class="inline">Define a String?:</label>
            <input id="string-is-defined" type="checkbox" ng-model="stringIsDefined"
                   onchange="element(this).onInput(this); element(this).onChange(this)">

            <b3-text-input id="value-string" ng-show="stringIsDefined" onblur="element(this).onChange(this)"
                           on-change="onInput()" value="typedValues.string" placeholder="value"
                           expandable="a">
            </b3-text-input>
          </div>

          <div ng-show="type == 'position'">
            <div class="inline">
              <label for="value-position-x" class="inline">X:</label>
              <b3-text-input id="value-position-x" onblur="element(this).onChange(this)"
                             value="typedValues.position[0]" on-change="onInput()" placeholder="jsonValue"
                             formatter="parseJson(input)" expandable="a">
              </b3-text-input>
            </div>
            <div class="inline">
              <label for="value-position-y" class="inline">Y:</label>
              <b3-text-input id="value-position-y" onblur="element(this).onChange(this)"
                             value="typedValues.position[1]" on-change="onInput()" placeholder="jsonValue"
                             formatter="parseJson(input)" expandable="a">
              </b3-text-input>
            </div>
          </div>

          <div ng-show="type == 'vec2'">
            <div class="inline">
              <label for="value-vec2-x" class="inline">X:</label>
              <!-- <b3-text-input id="value-vec2-x" onblur="element(this).onChange(this)" on-change="onInput()">
              </b3-text-input> -->
              <b3-text-input id="value-vec2-x" onblur="element(this).onChange(this)" value="typedValues.vec2[0]"
                             on-change="onInput()" placeholder="jsonValue" formatter="parseJson(input)"
                             expandable="a">
              </b3-text-input>
            </div>
            <div class="inline">
              <label for="value-vec2-y" class="inline">Y:</label>
              <b3-text-input id="value-vec2-y" onblur="element(this).onChange(this)" value="typedValues.vec2[1]"
                             on-change="onInput()" placeholder="jsonValue" formatter="parseJson(input)"
                             expandable="a">
              </b3-text-input>
            </div>
          </div>

          <div ng-show="type == 'list'">
            <label for="list-is-defined" class="inline">Define a List?:</label>
            <input id="list-is-defined" type="checkbox" ng-model="listIsDefined"
                   onchange="element(this).onInput(this); element(this).onChange(this)">
            
            <div ng-show="listIsDefined">
              <a href="#" ng-click="addListItem('value-list'); onInput()" class="button success right">+</a>

              <table class="data-aggregate">
                <tbody id="value-list">
                  <tr id="list-item" ng-repeat="item in typedValues.list track by $index">
                    <td id="key">{{$index}}</td>
                    <td>
                      <b3-text-input id="value" onblur="element(this).onChange(this)" on-change="onInput()"
                                     value="item" placeholder="jsonValue" formatter="parseJson(input)"
                                     expandable="a">
                      </b3-text-input>
                    </td>
                    <td>
                      <a href="#" b3-property-removable2 ng-click="onInput()" list-id="value-list"
                         class="button alert right">-</a>
                    </td>
                  </tr>
                  <!-- Items are dynamically inserted here -->
                </tbody>
              </table>
            </div>
          </div>

          <div ng-show="type == 'json'">
            <div class="json-container">
              <div class="json-type-container">
                <label>Sub-Type</label>
                <select id="json-subtype" ng-model="subType"
                        onchange="element(this).onChange(this); element(this).onInput(this)">
                  <option ng-repeat="(typeOpt, text) in subTypes" ng-selected="typeOpt == subType" value="{{typeOpt}}">
                    {{text}}
                  </option>
                </select>
              </div>
              <div class="json-value-container">
                <label>Value</label>
                <div ng-show="subType == 'dict'">
                  <a href="#" ng-click="addDictPair('value-json-dict'); onInput()" class="button success right">+</a>
    
                  <table class="data-aggregate data-json">
                    <tbody id="value-json-dict">
                      <tr ng-repeat="(key, item) in typedValues.jsonDict">
                        <td>
                          <b3-text-input id="key" onblur="element(this).onChange(this)" on-change="onInput()"
                                         placeholder="key" expandable="a" value="key">
                          </b3-text-input>
                        </td>
                        <td>
                          <b3-text-input id="value" onblur="element(this).onChange(this)" on-change="onInput()"
                                         value="item" placeholder="jsonValue" formatter="parseJson(input)"
                                         expandable="a">
                          </b3-text-input>
                        </td>
                        <td><a href="#" propertyremovable ng-click="onInput()" class="button alert right">-</a></td>
                      </tr>
                      <!-- Items are dynamically inserted here -->
                    </tbody>
                  </table>
                </div>
                <div ng-show="subType == 'list'">
                  <a href="#" ng-click="addListItem('value-json-list'); onInput()" class="button success right">+</a>
      
                  <table class="data-aggregate">
                    <tbody id="value-json-list">
                      <tr id="list-item" ng-repeat="item in typedValues.jsonList track by $index">
                        <td id="key">{{$index}}</td>
                        <td>
                          <b3-text-input id="value" onblur="element(this).onChange(this)" on-change="onInput()"
                                         value="item" placeholder="jsonValue" formatter="parseJson(input)"
                                         expandable="a">
                          </b3-text-input>
                        </td>
                        <td>
                          <a href="#" b3-property-removable2 ng-click="onInput()" list-id="value-json-list"
                             class="button alert right">-</a>
                        </td>
                      </tr>
                      <!-- Items are dynamically inserted here -->
                    </tbody>
                  </table>
                </div>

                <b3-text-input id="value-json-string" ng-show="subType == 'string'"
                               onblur="element(this).onChange(this)" on-change="onInput()"
                               value="typedValues.jsonString" placeholder="value" expandable="a">
                </b3-text-input>
                <div ng-show="subType == 'bool'">
                  <label for="value-json-bool" class="inline">Value:</label>
                  <input id="value-json-bool" type="checkbox"
                         onchange="element(this).onInput(this); element(this).onChange(this)">
                </div>
                <b3-text-input id="value-json-number" onblur="element(this).onChange(this)" on-change="onInput()"
                               value="typedValues.jsonNumber" placeholder="value" formatter="parseNumber(input)"
                               ng-show="subType == 'number'">
                </b3-text-input>
                <div class="null" ng-show="subType == 'null'">NULL</div>
                <!--"null" shows nothing-->
              </div>
            </div>
          </div>

          <div ng-show="type == 'table'">
            <label for="table-is-defined" class="inline">Define a Table?:</label>
            <input id="table-is-defined" type="checkbox" ng-model="tableIsDefined"
                   onchange="element(this).onInput(this); element(this).onChange(this)">

            <div class="json-container" ng-show="tableIsDefined">
              <div class="json-type-container">
                <label for="is-numbered" class="inline">Numbered?:</label>
                <input id="is-numbered" type="checkbox" ng-model="tableIsNumbered"
                       onchange="element(this).onInput(this); element(this).onChange(this)">
              </div>
              <div class="json-value-container">
                <div ng-show="tableIsNumbered">
                  <a href="#" ng-click="addListItem('value-table-list'); onInput()" class="button success right">+</a>
  
                  <table class="data-aggregate">
                    <tbody id="value-table-list">
                      <tr id="list-item" ng-repeat="item in typedValues.tableList track by $index">
                        <td id="key">{{$index}}</td>
                        <td>
                          <b3-text-input id="value" onblur="element(this).onChange(this)" on-change="onInput()"
                                         value="item" placeholder="jsonValue" formatter="parseJson(input)"
                                         expandable="a">
                          </b3-text-input>
                        </td>
                        <td><a href="#" b3-property-removable2 ng-click="onInput()" list-id="value-table-list"
                               class="button alert right">-</a></td>
                      </tr>
                      <!-- Items are dynamically inserted here -->
                    </tbody>
                  </table>
                </div>
                <div ng-hide="tableIsNumbered">
                  <a href="#" ng-click="addDictPair('value-table-dict'); onInput()" class="button success right">+</a>
  
                  <table class="data-aggregate data-json">
                    <tbody id="value-table-dict">
                      <tr ng-repeat="(key, item) in typedValues.tableDict">
                        <td>
                          <b3-text-input id="key" onblur="element(this).onChange(this)" on-change="onInput()"
                                         placeholder="key" expandable="a" value="key">
                          </b3-text-input>
                        </td>
                        <td>
                          <b3-text-input id="value" onblur="element(this).onChange(this)" on-change="onInput()"
                                         value="item" placeholder="jsonValue" formatter="parseJson(input)"
                                         expandable="a">
                          </b3-text-input>
                        </td>
                        <td><a href="#" propertyremovable ng-click="onInput()" class="button alert right">-</a></td>
                      </tr>
                      <!-- Items are dynamically inserted here -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <b3-text-input id="value-entity" onblur="element(this).onChange(this)" on-change="onInput()"
                         value="typedValues.entity" placeholder="value" formatter="parseEntity(input)"
                         ng-show="type == 'entity'">
          </b3-text-input>

          <div ng-show="type == 'bool'">
            <label for="value-bool" class="inline">Value:</label>
            <input id="value-bool" type="checkbox" onchange="element(this).onInput(this); element(this).onChange(this)">
          </div>

          <b3-text-input id="value-number" onblur="element(this).onChange(this)" on-change="onInput()"
                         value="typedValues.number" placeholder="value" formatter="parseNumber(input)"
                         ng-show="type == 'number'">
          </b3-text-input>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<!-- <button ng-click="showContents()">Show Contents</button> -->