<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Behavior3JS Editor</title>

  <link href="assets/css/normalize-3.0.1.min.css" rel="stylesheet">

  <script src="assets/js/angular-1.3.13.min.js" type="text/javascript"></script>

  <script src="assets/libs/opensans-0.1.0.js" type="text/javascript"></script>
  <script src="assets/libs/easeljs-0.8.0.min.js" type="text/javascript"></script>
  <script src="assets/libs/creatine-0.2.0.min.js" type="text/javascript"></script>
  <script src="assets/libs/keymaster-1.6.3.min.js" type="text/javascript"></script>
  <script src="assets/libs/b3bare.js" type="text/javascript"></script>

  <script src="app/app.js" type="text/javascript"></script>
  <script src="app/common/sidebar/sidebar.js" type="text/javascript"></script>
  <script src="app/common/tabs/tabs.js" type="text/javascript"></script>
  <script src="app/common/modal/modal.js" type="text/javascript"></script>
  <script src="app/common/notification/notification.js" type="text/javascript"></script>
  <script src="app/common/scrollable/scrollable.js" type="text/javascript"></script>
  <script src="app/menu/menu.js" type="text/javascript"></script>
  <script src="app/node/node.js" type="text/javascript"></script>
  <script src="app/node/directives.js" type="text/javascript"></script>
  <script src="app/tree/tree.js" type="text/javascript"></script>
  <script src="app/tree/directives.js" type="text/javascript"></script>
  <script src="app/property/property.js" type="text/javascript"></script>

  <script src="editor/data/options.js" type="text/javascript"></script>
  <script src="editor/data/shortcuts.js" type="text/javascript"></script>
  <script src="editor/data/theme_dark.js" type="text/javascript"></script>
  <script src="editor/editor.js" type="text/javascript"></script>
  <script src="editor/game.js" type="text/javascript"></script>
  <script src="editor/utils/functions.js" type="text/javascript"></script>
  <script src="editor/utils/SettingsManager.js" type="text/javascript"></script>
  <script src="editor/utils/Root.js" type="text/javascript"></script>
  <script src="editor/utils/Composite.js" type="text/javascript"></script>
  <script src="editor/utils/Action.js" type="text/javascript"></script>
  <script src="editor/utils/Module.js" type="text/javascript"></script>
  <script src="editor/utils/Decorator.js" type="text/javascript"></script>
  <script src="editor/utils/Organizer.js" type="text/javascript"></script>
  <script src="editor/utils/Logger.js" type="text/javascript"></script>
  <script src="editor/utils/CustomJson.js" type="text/javascript"></script>
  <script src="editor/draw/shapes.js" type="text/javascript"></script>
  <script src="editor/draw/symbols.js" type="text/javascript"></script>
  <script src="editor/models/Project.js" type="text/javascript"></script>
  <script src="editor/models/Tree.js" type="text/javascript"></script>
  <script src="editor/models/Node.js" type="text/javascript"></script>
  <script src="editor/entities/Block.js" type="text/javascript"></script>
  <script src="editor/entities/Connection.js" type="text/javascript"></script>
  <script src="editor/entities/SelectionBox.js" type="text/javascript"></script>
  <script src="editor/systems/CameraSystem.js" type="text/javascript"></script>
  <script src="editor/systems/ConnectionSystem.js" type="text/javascript"></script>
  <script src="editor/systems/DragSystem.js" type="text/javascript"></script>
  <script src="editor/systems/SelectionSystem.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="assets/css/editor.css">
</head>

<body>
  <!-- APP PAGE -->
  <div id="page">
    <canvas id="game-canvas" width="640" height="480" droppable-node></canvas>
    <menu></menu>
    <sidebar class="left">
      <div class="tabset" ng-controller="TabController">
        <ul class="header">
          <li><a href="#" ng-class="{active:visible(0)}" ng-click="select(0)">Trees</a></li>
          <li><a href="#" ng-class="{active:visible(1)}" ng-click="select(1)">Nodes</a></li>
        </ul>

        <div ng-show="visible(0)"><treepanel>0</treepanel></div>
        <div ng-show="visible(1)"><nodepanel>1</nodepanel></div>
      </div>
    </sidebar>
    <sidebar class="right">
      <div class="tabset" ng-controller="TabController">
        <ul class="header">
          <li><a href="#" ng-class="{active:visible(1)}" ng-click="select(1)">Properties</a></li>
          <!-- <li><a href="#" ng-class="{active:visible(0)}" ng-click="select(0)">Help</a></li> -->
        </ul>

        <div ng-show="visible(1)"><propertypanel>1</propertypanel></div>
        <!-- <div ng-show="visible(0)"><helppanel>2</helppanel></div> -->
      </div>
    </sidebar>
  </div>
  <!-- END APP PAGE -->

  <span ng-controller="NotificationController"></span>

  <script src="main.js" type="text/javascript"></script>
</body>
</html>
